{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
            <form action="/loguearse/" method="post" class="card card-body">
                <h1 class="text-center">Loguearse</h1>
            
                {{error}}
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username">Username</label>
                    <input type="text" name="username" class="form-control" id="username" placeholder="Escribe tu nombre de Usuario">
                </div>
                <div class="mb-3">
                    <label for="password">Contraseña</label>
                    <input type="password" name="password" class="form-control" id="password" placeholder="Escribe tu Contraseña">
                </div>
                <button class="btn btn-primary">
                    Loguearse
                </button>
            </form>
        </div>
    </div>


</main>

{% endblock %}